[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Bb]uild/
[Bb]uilds/
UserSettings/*
!UserSettings/EditorUserSettings.asset
.gradle/
*.apk
*.aab
*.obb
.vs/
.vscode/
*.sln
*.csproj
*.user
*.userprefs
.DS_Store
Thumbs.db
*.keystore
*.jks
*.stacktrace
